*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* language buttons */
.locale-btn-group{
    display: flex;
    justify-content: space-evenly;
}
.locale-btn1{
    background-image: url("../images/sv-flag.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 6em;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.273);
}
.locale-btn2{
    background-image: url("../images/gb-flag.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 6em;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.273);
}

/* floating navbar */
.floating-navbar{
  position: fixed;
  bottom: 1em;
  left: 0;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 4em;
  border-radius: 2000px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.186);
}
.nav-list{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}
.nav-list-item a{
  position: relative;
  text-decoration: none;
  font-size: 1.8em;
  color: black;
}


/* skapa mobilanpassad, lägg in måtten */
/* (Jonathan): Utgår från "mobile first".*/
/* @media only screen {
    
} */