*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-heading {
  font-family: "Love Ya Like A Sister", cursive;
  padding: 1em 2em;
  text-align: center;
  font-size: 2.5rem;
}

.main-heading-span {
  font-size: 1.75rem;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  margin: 2em auto;
}

.nav-list-item {
  list-style: none;
}

.nav-list-item a {
  text-decoration: none;
  font-size: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Love Ya Like A Sister", cursive;
}

.locale-btn-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  margin: 2em auto;
}
.locale-btn1 {
  background-image: url("../images/sv-flag.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 10em;
  height: 5em;
  border-radius: 8px;
}
.locale-btn2 {
  background-image: url("../images/gb-flag.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 10em;
  height: 5em;
  border-radius: 8px;
}

.quote {
  margin: 2em auto;
}

.btn {
  width: 60%;
  padding: 1em 1em;
  border: 5px outset #b88e57;
  background-color: #d5b78b;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 1.5em;
}
.btn:hover {
  background-color: #f8d5a1;
}
.btn:active {
  border: 5px inset #b88e57;
  background-color: #d5b78b;
}

/* Product card */
.product-card {
  width: 310px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #b88e57;
  margin-top: .5em;
  padding: .3em;
  height: 9em;

}

.img-container {
  width: 90px;
  height: 90px;
}
.product-img {
  width: 100%;
}
.product-info {
  display: grid;
  grid-template-areas:
    "title price"
    "desc price"
    "btns btns";
  grid-template-columns: 150px 55px;
}

.product-title {
  grid-area: title;
  text-align: center;
}
.product-description {
  grid-area: desc;
}

.product-price {
  grid-area: price;
  place-self: center;
}
.product-price::before {
  content: "€ ";
}

.add-to-cart-btns {
  grid-area: btns;
  place-self: center;
  /* width: 100%; */
}

/* .add-to-cart-btns form {
 
  place-self: center; 
   display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}*/
.subtr-qty-btn,
.add-qty-btn,
.product-qty-disp {
  width: 2em;
  display: inline;
  padding: 0.5em;
}

/* skapa mobilanpassad, lägg in måtten */
/* (Jonathan): Utgår från "mobile first".*/
/* @media only screen {
    
} */
/* --------------- Menu page / checkout ------------- */

body, html {
  font-family: "Love Ya Like A Sister", cursive;
  background-image: url(/images/pirateShip.png);
}
.background{
  padding: .5em;
}

li{
  list-style-type: none;
}
.menu-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-section{
  text-align: center;
}
